/* === FIELDSET */

fieldset,
.form-fieldset {
  @apply p-3;
  @apply border rounded border-neutral-50;

  legend {
    @apply absolute overflow-hidden;
    @apply w-0 h-0;
  
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
  }
}
